#topBtn{

position:fixed;

right:30px;

bottom:30px;

width:60px;

height:60px;

border:none;

border-radius:50%;

background:#ff0033;

color:white;

cursor:pointer;

display:none;

z-index:1000;

font-size:20px;

box-shadow:0 0 20px rgba(255,0,51,.5);

transition:0.3s ease;

}

#topBtn:hover{

transform:translateY(-5px);

box-shadow:0 0 30px rgba(255,0,51,.8);

}
