.contact{

padding:150px 10%;

}

.contact form{

max-width:700px;

margin:auto;

display:flex;

flex-direction:column;

gap:20px;

}

.contact input,
.contact textarea{

padding:18px;

background:#111;

border:none;

color:white;

border-radius:10px;

}

.contact textarea{

height:180px;

resize:none;

}

.contact button{

padding:18px;

background:#ff0033;

border:none;

color:white;

border-radius:50px;

cursor:pointer;

}