.performance{

padding:120px 8%;

background:#030303;

}

.dashboard{

display:flex;

justify-content:center;

gap:80px;

flex-wrap:wrap;

margin-top:60px;

}

.gauge-card{

text-align:center;

background:rgba(255,255,255,.04);

padding:40px;

border-radius:25px;

backdrop-filter:blur(15px);

box-shadow:0 15px 40px rgba(0,0,0,.5);

}

.circle{

position:relative;

width:180px;

height:180px;

margin:auto;

}

svg{

width:180px;

height:180px;

transform:rotate(-90deg);

}

circle{

fill:none;

stroke:#222;

stroke-width:12;

stroke-linecap:round;

}

#powerMeter,
#speedMeter{

stroke:#ff0033;

stroke-dasharray:471;

stroke-dashoffset:471;

transition:2s;

}

.number{

position:absolute;

top:50%;

left:50%;

transform:translate(-50%,-50%);

text-align:center;

}

.number h3{

font-size:40px;

color:#fff;

}

.engine-box{

margin-top:80px;

text-align:center;

}

#engineButton{

padding:18px 45px;

background:#ff0033;

border:none;

color:white;

font-size:18px;

border-radius:50px;

cursor:pointer;

transition:.4s;

}

#engineButton:hover{

box-shadow:0 0 25px #ff0033;

transform:scale(1.05);

}

#engineStatus{

margin-top:20px;

font-size:22px;

color:#aaa;

}

