header{

position:fixed;

width:100%;

top:0;

left:0;

z-index:999;

background:rgba(255,255,255,.08);

backdrop-filter:blur(20px);

}

nav{

height:90px;

width:90%;

margin:auto;

display:flex;

justify-content:space-between;

align-items:center;

}

.logo{

font-size:35px;

font-weight:800;

}

.logo span{

color:#ff0033;

}

nav ul{

display:flex;

gap:40px;

list-style:none;

}

nav a{

text-decoration:none;

color:white;

font-size:17px;

transition:.4s;

}

nav a:hover{

color:#ff0033;

}

.menu{

display:none;

font-size:28px;

cursor:pointer;

}