@media(max-width:900px){

nav ul{

display:none;

}

.menu{

display:block;

}

.hero h1{

font-size:55px;

}

}

@media(max-width:992px){

.car-container{

grid-template-columns:1fr;

}

.section-title h2{

font-size:45px;

}

.hero h1{

font-size:60px;

}

}

@media(max-width:600px){

.hero h1{

font-size:42px;

}

.stats{

flex-direction:column;

gap:20px;

}

.car-card img{

height:240px;

}

.section-title h2{

font-size:34px;

}

}

@media(max-width:768px){

.gallery-grid{

grid-template-columns:1fr;

}

.swiper{

height:350px;

}

.parallax h2{

font-size:42px;

}

}
@media(max-width:900px){

.viewer-grid{

grid-template-columns:1fr;

}

model-viewer{

height:420px;

}

}